<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(boards.length === 0) {%>
    <div>null !!</div>
    <button class="init_btn" onclick=init()>생성 버튼</button>
    <% } else {%>
    <div>hi !!</div>
    <%boards.map((board, index) => { %>
        <hr />
        <br />
        <br />
        <div>
            <div>
                <div>
                    제목 : <%=board.board_title%>
                </div>
                <div>
                    내용 : <%=board.board_contents%>
                </div>
                <div>
                    공개 : <%=board.board_access%>
                </div>
                <div>
                    카테고리 :
                    <%board.board_category.map((category) => {%>
                        <%=category%>
                    <%})%>
                </div>
                <div>
                    포인트 : <%=board.board_point%>
                </div>
                <div>
                    이미지 :
                    <%board.board_img.map((img) => {%>
                        <%=img%>
                    <%})%>
                </div>
                <div>
                    작성자 : <%=board.writer_id%>
                </div>
                <div>
                    생성날짜 : <%=board.create_time%>
                </div>
                <div>
                    채택여부 : <%=board.status%>
                </div>
                <div>
                    조회수 : <%=board.views%>
                </div>
            </div>
            <button onclick=selectOne(`<%=board._id%>`)>디테일 </button>
            <br/>
            <button onclick=deleteOne(`<%=board._id%>`)>삭제 </button>
            <br />
            <button onclick=selectOneToModify(`<%=board._id%>`)>수정하러감 </button>
        </div>
        <br />
        <br />
        <hr />
    <%})%>

    <% } %>
    <br />
    <br />
    <br />
    <br />
    <hr/>
    <hr/>
    <div>
        <h1>board 생성</h1>
        <div>
            제목 :
            <input class="title" type="text" placeholder="제목"/>
        </div>
        <div>
            내용 :
            <input class="contents" type="text" placeholder="내용"/>
        </div>
        <div>
            카테고리 :
            <input class="category" type="text" placeholder="카테고리"/>
        </div>
        <div>
            공개 범위
            <input class="access" type="radio" value="public" checked> public
            <input class="access" type="radio" value="private"> private
        </div>
        <div>
            포인트
            <input class="point" type="number" placeholder="숫자만가능">
        </div>
        <div>
            작성자
            <input class="user_id" type="text" placeholder="작성자 아이디">
        </div>
        <button onclick=createBoard()>board 생성</button>

    </div>

</body>
</html>

<script defer>
    const init = async () => {
        const res = await fetch('/board/init', {
            method: 'post',
            headers: {
                'Content-type': 'application/json'
            },
        });

        if(res.status === 200){
            alert("ㄱㄱ");
        }else{
            alert("오류");
        }
    }

    const selectOne = async (id) => {
        const res = await fetch(`/board/increase-views/${id}`, {
            method: 'put',
            headers: {
                'Content-type': 'application/json'
            },

        });

        if(res.status === 200){
            location.href=`/board/detail/${id}`;
        }else{
            alert("오류");
        }
    }

    const selectOneToModify = async (id) => {

        location.href=`/board/select-modify/${id}`;

    }

    const deleteOne = async (id) => {
        if(confirm("삭제?")){
            const res = await fetch(`/board/delete/${id}`, {
                method: 'delete',
                headers: {
                    'Content-type': 'application/json'
                },
            });

            if(res.status === 200){
                location.reload();
            }else{
                alert("오류");
            }
        }

    }

    const createBoard = async () => {
        const board_title = document.querySelector(".title").value;
        const board_contents = document.querySelector(".contents").value;
        const board_category = document.querySelector(".category").value;
        const board_access = Array.from(document.querySelectorAll(".access")).find(radio => radio.checked).value;
        const board_point = document.querySelector(".point").value;
        const writer_id = document.querySelector(".user_id").value;
        const res = await fetch(`/board/create-board`, {
            method: 'post',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify({
                board_title,
                board_contents,
                board_category,
                board_access,
                board_point,
                writer_id,
            }),
        });
        if(res.status===200){
            alert("생성 완료");
            location.reload();

        }else if(res.status === 400){
            alert("생성 실패");
            location.reload();
        }else if(res.status===500){
            alert("오류 발생");
            location.reload();
        }
    }
</script>